.countdownContainer {
  display: flex;
  align-items: center;

  font-family: rajdhani;
  font-weight: 600;
  color: var(--title);
  transition: 0.7s ease;
}

.countdownContainer > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.countdownContainer > div span {
  flex: 1;
}
.countdownContainer > div span:first-child {
  border-right: 1px solid #f0f1f3;
}
.countdownContainer > div span:last-child {
  border-left: 1px solid #f0f1f3;
}
.countdownContainer > div span:hover {
  transform: translate3d(-3px, -2px, 0);
  border: 0;
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}

.countdownButton {
  display: flex;

  width: 100%;
  height: 5rem;
  margin-top: 2rem;

  align-items: center;
  justify-content: center;

  border: 0;

  border-radius: 5px;

  background: var(--blue);
  color: var(--white);

  font-size: 1.25rem;
  font-weight: 600;

  transition: 0.4s cubic-bezier(0, 0.58, 0.42, 1.94);
}

.countdownButton:not(:disabled):hover {
  background: var(--blue);
  transform: scale(1.03);
}

.countdownButtonActive {
  background-color: var(--red);
  color: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

.countdownButtonActive:not(:disabled):hover {
  background-color: var(--red);
  color: var(--white);
}

.countdownButton:disabled {
  background: var(--white);
  color: var(--text);
  cursor: not-allowed;
}
